

body{
          background: #E2ADE7
}

.obl{
        margin-top: 50px;
         margin-left: 823px;
}
.container{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 50px;
        margin-left: 620px;
 width: 614px;
height: 488px;
flex-shrink: 0;
background-color: rgba(241, 175, 239, 0.72);
filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
margin-top: 50px;

}

.ima{
        width: 497px;
        height: 85px;
        flex-shrink: 0;
        background-color: rgb(241, 234, 234);
        border-radius: 39px;
        margin-left: 57px;
        margin-top: 100px;
}        
.ima2{
width: 497px;
height: 85px;
flex-shrink: 0;
background-color: rgb(241, 234, 234);
border-radius: 39px;
margin-left: 57px;
margin-bottom: 70px;

}
.ima3{
        width: 199px;
        height: 50px;
        flex-shrink: 0;
        background-color: rgb(241, 234, 234);
        border-radius: 39px;
        margin-left: 57px;
        margin-bottom: 40px;
        border-color: #cb41d8;
        

}
.ima4{
 width: 216px;
height: 79px;
flex-shrink: 0;
background-color: rgb(241, 234, 234);
        border-radius: 39px;
     margin-right: 57px;
     margin-top: -15px;
     border-color: #cb41d8;
     text-align: center;
}
.text1{
margin-left: 20px;
font-family: 'Trebuchet MS', sans-serif;

}
.text2{
        margin-left: 20px;
        font-family: 'Trebuchet MS', sans-serif;
       
}
.text3{
        text-align: center;
        font-family: 'Trebuchet MS', sans-serif;
       
}
.text4{
       
        font-size: large;
        margin-top: 30px;
        margin-left: 0px ;
        font-family: 'Trebuchet MS', sans-serif;
}
.text5{
        margin-left:770px;
        margin-top: -30px;
        font-size: small;
        font-family: 'Trebuchet MS', sans-serif;
    
}
.but{
        
        width: 70px;
        height: 30px;
        flex-shrink: 0;
        margin-top: 18px;
        font-family: 'Trebuchet MS', sans-serif;
       margin-left: -250px;
        margin-top: 30px;
        border-color: #cb41d8;

      
}      
.tr{
        margin-top: 40px;
}
