body{
    background: #E2ADE7
}

.obl{
   margin-left: 810px;
}
.glav{
    font-family: 'Pacifico', cursive;
    color:  rgb(193, 117, 255);
    margin-left: 33%;
    font-size: 50px;
    width: 600px;
    height: 100px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 50px;
}
.vse{
    font-family: 'Pacifico', cursive;
    width: 1000px;
    height: 1000px;
    background-color: rgba(241, 175, 239, 0.72);;
    margin-left: 450px;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    margin-top: 50px;
    text-align: center;
    color: rgb(182, 76, 214);
}